VS_VERSION_INFO	VERSIONINFO
FILEVERSION		0,9,0,0
PRODUCTVERSION		0,9,0,0
FILEOS			0x40004
FILETYPE		0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0" // U.S. English, Unicode
		{
			VALUE "CompanyName", "Marc Hoersken\0"
			VALUE "FileDescription",  "Google Contact Sync Plugin\0"
			VALUE "FileVersion", "0.9.0.0\0"
			VALUE "ProductVersion", "0.9.0.0\0"
			VALUE "ProductName", "gcontactsync\0"
			VALUE "InternalName", "gcontactsync\0"
			VALUE "OriginalFilename", "gcontactsync.dll\0"
			VALUE "Comments", "\0"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04B0 // U.S. English, Unicode
	}
}

